@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

/* icons by https://www.flaticon.com/authors/freepik , https://www.flaticon.com/authors/dinosoftlabs" */

body {
  background-color: rgb(255, 220, 155);
  display: flex;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
  margin: 3em;
  font-size: 20px;
  color:rgb(168, 95, 0);
}
h1 {
  font-size: 2em;
  margin: 3rem;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
input {
  height: 40px;
  width: 50%;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  border: 2px solid rgb(168, 95, 0);
  text-align: center;
  flex-basis: 70%;
  letter-spacing: 2px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
label {
  cursor: pointer;
  text-align: center;
  margin: 1rem;
}
.main-wrapper {
  background-color: white;
  padding: 0.5rem 2rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  max-width: 650px;
}
.input-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}
.add-button {
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  border: none;
  background-color: rgb(154, 255, 154);
  color: rgb(168, 95, 0);
  padding: 0.7rem 1.5rem;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.remove-all-button__wrapper {
display: flex;
justify-content: center;
}
.remove-all-button {
  width: fit-content;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  border: none;
  background-color: rgb(154, 255, 154);
  color: rgb(168, 95, 0);
  padding: 0.7rem 1.5rem;
  margin: 2rem;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.list-item__wrapper {
display: flex;
margin: 1rem;
}
.list-item__text {
  align-self: center;
  text-align: left;
  margin-left: 1rem;
  flex-basis: 70%;
  white-space: normal;
}
.list-item__action-icons {
  display: flex;
}
.list-item__action-icons img {
  max-height: 50px;
}
.action-button {
  margin-left: 1rem;
  cursor: pointer;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}
.delete {
background-color: rgba(255, 89, 89, 0.6);
}
.edit {
background-color:  rgba(255, 220, 155, 0.6);
}

@media screen and (max-width: 700px) {
  body {
    font-size: 15px;
  }
  input {
    font-size: 15px;
  }
  .main-wrapper {
    max-width: 100%;
  }
  .add-button, 
  .remove-all-button {
    font-size: 15px;
  letter-spacing: 0px;
  }
  .list-item__action-icons img {
    max-height: 30px;
  }
}